<ion-view view-title="Dashboard" ng-controller="DashCtrl">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col col-50 rating-holder">{{averageRate}}</div>
                    <!-- The average value for the Hans -->
                    <div class="col col-50" id="bars-holder">
                        <!--Progress Bars-->
                        <uib-progressbar type="five-star" value="70"></uib-progressbar>
                        <uib-progressbar type="four-star" value="30"></uib-progressbar>
                        <uib-progressbar type="three-star" value="10"></uib-progressbar>
                        <uib-progressbar type="two-star" value="40"></uib-progressbar>
                        <uib-progressbar type="one-star" value="80"></uib-progressbar>
                    </div>
                </div>
                <!--End Row-->
                <div class="row">
                    <div class="col col-50 rating-stars">
                        <uib-rating max="5" ng-model="rate" readonly="true"></uib-rating>
                    </div>
                </div>
            </div>
        </div>



        <uib-accordion close-others="true" id="accordion">
            <uib-accordion-group is-open="isopen" ng-click="isopen=!isopen" ng-repeat="item in stations" heading="{{item.name}}" template-url="">

                <div class="row">
                    <div class="col col-50 rating-holder">{{averageRate}}</div>
                    <!-- The average value for the Hans -->
                    <div class="col col-50" id="bars-holder">
                        <!--Progress Bars-->
                        <uib-progressbar type="five-star" value="70"></uib-progressbar>
                        <uib-progressbar type="four-star" value="30"></uib-progressbar>
                        <uib-progressbar type="three-star" value="10"></uib-progressbar>
                        <uib-progressbar type="two-star" value="40"></uib-progressbar>
                        <uib-progressbar type="one-star" value="80"></uib-progressbar>
                    </div>
                </div>
                <!--End Row-->
                <div class="row">
                    <div class="col col-50 rating-stars">
                        <uib-rating max="5" ng-model="rate" readonly="true"></uib-rating>
                    </div>
                </div>
                <div class="row">
                    <p style="text-align:center;">
                        <ul id="menu-for-station">

                            <li class="menu-item" ng-repeat="description in item.description">{{description}}</li>

                        </ul>
                    </p>
                </div>

            </uib-accordion-group>
        </uib-accordion>

    </ion-content>
</ion-view>