<ion-view view-title="Handschumacher" ng-controller="DashCtrl">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col col-50 rating-holder">{{averageRateFinal}}</div>
                    <!-- The average value for the Hans -->
                    <div class="col col-50" id="bars-holder">
                        <!--Progress Bars-->
                        <uib-progressbar type="five-star" value="five"></uib-progressbar>
                        <uib-progressbar type="four-star" value="four"></uib-progressbar>
                        <uib-progressbar type="three-star" value="three"></uib-progressbar>
                        <uib-progressbar type="two-star" value="two"></uib-progressbar>
                        <uib-progressbar type="one-star" value="one"></uib-progressbar>
                    </div>
                </div>
                <!--End Row-->
                <div class="row">
                    <div class="col col-50 rating-stars">
                        <uib-rating max="5" ng-model="averageRate" readonly="true"></uib-rating>
                    </div>
                </div>
            </div>
        </div>



        <uib-accordion close-others="true" id="accordion">
            <uib-accordion-group is-open="isopen" ng-click="isopen=!isopen" is-disabled="status.isFirstDisabled" ng-repeat="item in stations" heading="{{item.name}}" template-url="">

                <div class="row">
                    <div class="col col-50 rating-holder">{{item.ratings.avg_rating}}</div>
                    <!-- The average value for the Hans -->
                    <div class="col col-50" id="bars-holder">
                        <!--Progress Bars-->
                        <uib-progressbar type="five-star" value="item.numberOfOne"></uib-progressbar>
                        <uib-progressbar type="four-star" value="item.numberOfTwo"></uib-progressbar>
                        <uib-progressbar type="three-star" value="item.numberOfThree"></uib-progressbar>
                        <uib-progressbar type="two-star" value="item.numberOfFour"></uib-progressbar>
                        <uib-progressbar type="one-star" value="item.numberOfFive"></uib-progressbar>
                    </div>
                </div>
                <!--End Row-->
                <div class="row">
                    <div class="col col-50 rating-stars">
                        <uib-rating max="5" ng-model="item.ratings.avg_rating" readonly="true"></uib-rating>
                    </div>
                </div>
                <div class="row">
                    <p style="text-align:center;">
                        <ul id="menu-for-station">

                            <li class="menu-item" ng-repeat="description in item.description">{{description}}</li>

                        </ul>
                    </p>
                </div>

            </uib-accordion-group>
        </uib-accordion>

    </ion-content>
</ion-view>