<ion-view view-title="Rate" ng-controller="RateCtrl">
  <ion-content>
		 <ul class="list">
		    <li class="item" ng-repeat="item in stations">
			    <div class="row">
				    <div class="col rate-line">
				      {{item.name}}
				    </div>
			    </div>
			    <div class="row">
				    <div class="col rate-line">
				      <uib-rating class="station-rating-stars" max="5" ng-model="rate" readonly="false"></uib-rating>
				    </div>
			    </div>
		    </li>
		</ul>
  </ion-content>
</ion-view>
